<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style_homepage.css">
    <title>Homepage - CCMiKa's</title>
</head>

<body>
    <h1> CCMiKa's <h1>
            <h2> Calculadora fácil para seu boletim :) <h2>
                    <div class= 'botao'>
                        <div class="button-container">
                            <a href="http://127.0.0.1:5500/Templates/ccmed.html">CCMed</a>
                            <a href="http://127.0.0.1:5500/Templates/ccrec.html">CCRec</a>
                        </div>
                    </div>
</body>

</html>